In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/root/ml_mate_exoplanet/Modelos/feeds.csv', sep=',')

var_df = df[['field1', 'field2']]
var_df.head(5)

   field1  field2
0    17.5    76.2
1    17.5    76.0
2    17.4    76.1
3    17.4    75.6
4    32.3    36.1

In [5]:
temp_data = var_df.field1.dropna().tolist()
hum_data = var_df.field2.dropna().tolist()

hum_mean = np.mean(hum_data)

def cuadra_func(x):
    res = 0.014*x**2 - 3.60*x + 126.478
    return res

y_hat_list = []
for i in temp_data:
    y_hat_list.append(cuadra_func(i))

print(len(y_hat_list), len(hum_data))

def coef_deter():
    for elem in y_hat_list:
        num_elem = []
        num_elem.append((elem - hum_mean)**2)

    for elem2 in hum_data:
        dem_elem = []
        dem_elem.append((elem2 - hum_mean)**2)

    return sum(num_elem) / sum(dem_elem)
    
print(coef_deter())

print(min(temp_data), max(temp_data))

1059 1059
0.6803695823922296
9.5 33.0