In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/root/ml_mate_exoplanet/Modelos/feeds.csv', sep=',')

var_df = df[['field1', 'field2']]
var_df.head(5)

   field1  field2
0    17.5    76.2
1    17.5    76.0
2    17.4    76.1
3    17.4    75.6
4    32.3    36.1

In [3]:
temp_data = var_df.field1.dropna().tolist()
hum_data = var_df.field2.dropna().tolist()

hum_mean = np.mean(hum_data)

def expo_func(x):
    res = 150.132 * 0.955**x
    return res

y_hat_list = []
for i in temp_data:
    y_hat = y_hat_list.append(expo_func(i))

def coef_deter():
    for elem in y_hat_list:
        num_elem = []
        num_elem.append((elem - hum_mean)**2)

    for elem2 in hum_data:
        dem_elem = []
        dem_elem.append((elem2 - hum_mean)**2)

    return sum(num_elem) / sum(dem_elem)

def error_coef():
    pass

res2 = []
for j in y_hat_list:
    res2.append(hum_mean-j)

res3 = []
for l in res2:
    res3.append(abs(l))


print(sum(res3) / 1059)
    
print(coef_deter())
print(len(hum_data))

11.032122040864344
0.6943461037460795
1059

In [4]:
import math
temp_data = var_df.field1.dropna().tolist()
hum_data = var_df.field2.dropna().tolist()

hum_mean = np.mean(hum_data)

def expo_func2(x):
    res2 = 174.217 * math.e**(-0.0522996*x)
    return res2

y_hat_list2 = []

for a in temp_data:
    y_hat = y_hat_list2.append(expo_func2(a))
print(y_hat_list2[0:5])

def coef_deter2():
    for elem3 in y_hat_list2:
        num2_elem = []
        num2_elem.append((elem3 - hum_mean)**2)

    for elem4 in hum_data:
        dem2_elem = []
        dem2_elem.append((elem4 - hum_mean)**2)

    return sum(num2_elem) / sum(dem2_elem)

print(coef_deter2())
print(len(hum_data))

from sklearn.metrics import mean_squared_error
mean_squared_error(hum_data, y_hat_list2)

[69.75985134399603, 69.75985134399603, 70.12564829405204, 70.12564829405204, 32.16968561648458]
0.4990121279185886
1059

44.10709865235942

In [6]:
print(min(temp_data))
print(max(temp_data))

print(min(hum_data))
print(max(hum_data))

9.5
33.0
30.0
94.6