In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('/home/edward/DataScience_Projects/Temp_vs_Hum/Modelos/feeds.csv', sep=',')

var_df = df[['field1', 'field2']]
var_df.head(5)

   field1  field2
0    17.5    76.2
1    17.5    76.0
2    17.4    76.1
3    17.4    75.6
4    32.3    36.1

In [19]:
temp_data = var_df.field1.dropna().tolist()
hum_data = var_df.field2.dropna().tolist()

hum_mean = np.mean(hum_data)
temp_mean = np.mean(temp_data)


sum_x_y = 126110.11
sum_x = sum(temp_data)
sum_y = sum(hum_data)

x_2 = []

for j in temp_data:
    x_2.append(j**2)

y_2 = []

for k in hum_data:
    y_2.append(k**2)

sum_x_2 = sum(x_2)

sum_y_2 = sum(y_2)

if len(temp_data) == len(hum_data):
    print("Everything Ok!")
else:
    print("Oh Oh!")

print(sum_x, sum_y, sum_x_2, sum_x_y, len(temp_data), sum_y_2)

Everything Ok!
20601.200000000004 69140.5 425926.9999999999 126110.11 1059 4800096.110000005